body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.content {
  
}

.landing-page,
.portfolio-page, .about {
  padding: 20px;
  text-align: center;
  margin-bottom: 100px;
}

iframe {
  width: 600px;
  height: 600px;
}

.main-photo {
  height: 250px;
}